<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/general.html :: head}"></head>

<body class="d-flex flex-column h-100 text-center text-bg-dark">

    <div th:replace="~{fragments/svg-fragments :: svg}"></div>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header th:replace="~{fragments/general.html :: header_fragments('', ${user})}" class="mb-auto"></header>

        <main class="flex-grow-1 d-flex flex-column justify-content-center px-3">
            <div class="chat-container">
                <h2>Chat</h2>
                <fieldset class="comments">
                    <div th:each="comentario : ${comentarios}">
                        <fieldset class="comentario">
                            <p th:text="${comentario.escritor}"></p>
                            <p th:text="${comentario.comentario}"></p>
                        </fieldset>
                    </div>
                </fieldset>
                <form method="POST">
                    <div class="chat-input">
                        <input type="text" id="message" name="message" placeholder="Type your message">
                        <input type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>

</html>